@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,700|Poppins:300,400,500,700,900&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Dosis';
	font-size: 18px;
	background-color: #eae9e9;
	color: #3c4245;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Poppins';
	margin-right: 20px;
	margin-left: 90px;
}
a {
	text-decoration: none;
}

image {
	width: 150px;
    height: 130px
}

