.btn-red {
	background-color: #420000;
	padding: 15px 20px;
	border-radius: 4px;
	color: #f6f6f6;
	font-weight: bold;
	font-family: 'Poppins';
    margin-left: 80px;
}


.btn-red:hover {
	background-color: #f6f6f6;
	color: #420000;
